
html {
  background: url(../images/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Helvetica New'.sans-serif;
}

.header{
font-family:"Arial", sans-serif;
font-size:25px;
font-weight:100;
line-height:1.24;
width:100%;
}


.header li{
display:inline-block;
}
.header a{
  display:block;
  color:black;
  padding:30PX 20PX;
  text-decoration:none;
}
.header li a:hover {
background-color:blue;
}

.prof-box{
  width:400px;
  height:400px;
  background:rgb(0,0,0,0.4);
  padding:40px;
  color:white;
  margin:0 auto;
  margin-top: 100px;
  text-align: center;
}
.pro-pic{
  border-radius: 50%;
  height:200px;
  width:200px;
}

h1{
  font-size:40px;
  letter-spacing:6;
  font-weight: 100;
}

p{
  font-weight:200;
  letter-spacing: 1;
}
